cmake-build-*/
build/

.idea/
.vscode/
*.iws
*.iml
*.ipr
*.swp
*~

CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
Makefile
Testing/
_deps/
CMakeUserPresets.json

*.o
*.a
*.so
*.dylib

adsb-module

config/adsb-module.yaml
